.footer {
  background: #c1bebe;
  color: var(--text-main);
  padding: 30px;
  border-top: 1px solid #ffffff;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
}

.footer-bottom span {
  color: var(--accent);
}
