.upload-page {
  text-align: center;
  padding: 50px;
}

.upload-page input {
  margin: 15px;
}

.upload-page button {
  padding: 10px 20px;
  background-color: #4da6ff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.upload-page button:hover {
  background-color: #007bff;
}
