body {
  margin: 0;
  background: radial-gradient(circle at top, #ffffff, #ffffff);
  color: var(--text-main);
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.main-content {
  min-height: 80vh;
  padding: 40px;
}
